.page1{
    background-image: url(./Img/zoo.png);
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.page2{
    background-image: url(./Img/enclos.jpg);
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18rem;
    margin: 100px;
}